header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  margin-block: 20px;


  .left-header {
    display: flex;
    align-items: center;
    gap: 20px;

    input {
      width: 450px;
      padding: 15px;
      border-radius: 18px;
      background-color: #f9f9f9;
      border: 0.5px solid #f9f9f9;
      font-size: large;
    }
  }

  .right-header {
    display: flex;
    align-items: center;
    gap: 15px;

    .write {
      
      a {
        text-decoration: none;
        font-size: 16px;
      }
    }
  }

}


.headerProfile {

  li {
    list-style: none;
  }

  .profileBtn {
    background: none;
    border: none;
    cursor: pointer;
  }
}

.logo {
font-size: 36px;
  a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.dropbtn {
  width: 35px;
  height: 35px;
  background: none;
  border: none;
  border-radius: 50%;
  background-color: #6B6B6B;
  text-transform: uppercase;
  color: #FFFF;
  cursor: pointer;
}
.dropdown-menu {
  width: 260px;
  position: absolute;
  right: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  list-style: none;
  padding: 0;
  margin: 0;
  border-radius: 5px;
  display: flex;
  gap: 8px;
  flex-direction: column;
  padding: 16px 20px;
  border-radius: 3px;

  li {
    color: #6B6B6B;
    cursor: pointer; 
    display: flex;
    align-items: center;
    gap: 7px;

    form {
      button  {
        color: #6B6B6B;
        cursor: pointer;
        padding: 0;
        border: transparent;
        background-color: transparent;
      }

      button:hover {
        color: black;
      }
    }
  }
}