.nevpost {
  margin: 0 auto;
  max-width: 600px;

  form {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  input {
    width: 500px;
    padding: 10px;
    font-size: large;
    color: lightgray;
    border: 0.5px solid lightgray;
  }

  textarea {
    width: 500px;
    padding: 20px;
    font-size: large;
    color: lightgray;
    border: 0.5px solid lightgray;
  }

  .publishBtn {
    width: 150px;
    padding: 6px 12px;
    background-color: #0f730c;
    border: 0.5px solid #0f730c;
    border-radius: 16px;
    color: #fff;
    cursor: pointer;
  }

  .publishBtn:hover {
    background-color: #0d6b0a;
  }
}
